body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.element {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 18;
  width: 100.6666666666%;
  height: 59px;
  margin: 0 auto;
  background: rgb(122, 0, 27);
  background: -webkit-linear-gradient(90deg, rgb(122, 0, 27) 0%, rgb(152, 1, 34) 4.523809523809524%, rgb(152, 1, 34) 80%, rgb(152, 1, 34) 93.57142857142857%) rgb(122, 0, 27);
  background:    -moz-linear-gradient(90deg, rgb(122, 0, 27) 0%, rgb(152, 1, 34) 4.523809523809524%, rgb(152, 1, 34) 80%, rgb(152, 1, 34) 93.57142857142857%) rgb(122, 0, 27);
  background:      -o-linear-gradient(90deg, rgb(122, 0, 27) 0%, rgb(152, 1, 34) 4.523809523809524%, rgb(152, 1, 34) 80%, rgb(152, 1, 34) 93.57142857142857%) rgb(122, 0, 27);
  background:     -ms-linear-gradient(90deg, rgb(122, 0, 27) 0%, rgb(152, 1, 34) 4.523809523809524%, rgb(152, 1, 34) 80%, rgb(152, 1, 34) 93.57142857142857%) rgb(122, 0, 27);
  background:         linear-gradient(360deg, rgb(122, 0, 27) 0%, rgb(152, 1, 34) 4.523809523809524%, rgb(152, 1, 34) 80%, rgb(152, 1, 34) 93.57142857142857%) rgb(122, 0, 27);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.image {
  display: block;
  float: left;
  width: 185px;
  height: auto;
  overflow: hidden;
}

.sanspro {
  font-family: 'Trebuchet MS';
  text-align: center;
}

.sansprotext {
  float: left;
  width: 100%;
  min-height: 73px;
  padding-top: 20px;
  font-size: 1.875em;
  color: rgb(0, 0, 0);
}

.text-4 p,
.text-6 p,
.text-8 p {
  margin-bottom: 1em;
}

._text {
  float: left;
  clear: both;
  width: 100%;
  min-height: 172px;
  font-size: 1em;
  word-spacing: 5px;
  color: rgb(0, 0, 0);
}

.container-1 {
  position: relative;
  z-index: 17;
  width: 100%;
  margin: 0 auto;
  background: rgb(55, 0, 12);
  background: -webkit-linear-gradient(270deg, rgb(55, 0, 12) 0%, rgb(24, 24, 24) 100%) rgba(1, 1, 1, 0);
  background:    -moz-linear-gradient(270deg, rgb(55, 0, 12) 0%, rgb(24, 24, 24) 100%) rgba(1, 1, 1, 0);
  background:      -o-linear-gradient(270deg, rgb(55, 0, 12) 0%, rgb(24, 24, 24) 100%) rgba(1, 1, 1, 0);
  background:     -ms-linear-gradient(270deg, rgb(55, 0, 12) 0%, rgb(24, 24, 24) 100%) rgba(1, 1, 1, 0);
  background:         linear-gradient(180deg, rgb(55, 0, 12) 0%, rgb(24, 24, 24) 100%) rgba(1, 1, 1, 0);
}

.container-2 {
  position: relative;
  width: 184px;
  margin: 100px auto 0;
  border-bottom: 20px solid rgba(0, 0, 0, 0.01);
}

.container-3 {
  position: relative;
  z-index: 13;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
}

.container-5 {
  width: 100%;
  margin: 0 auto;
}

.container-4,
.container-6 {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.container-8 {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.container-7,
.container-9 {
  float: left;
  width: 100%;
}

.text-1 {
  float: left;
  clear: both;
  width: 80%;
  min-height: 87px;
  margin-left: 10%;
  font-size: 1.25em;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.text-2 {
  width: 100%;
  min-height: 57px;
  margin: 20px auto 0;
  font-size: 1.875em;
  color: rgb(0, 0, 0);
}