.home{
    font-family: Roboto;
    font-size: 2.7em;
    line-height: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}
.home p{
    font-size: 0.9em;
}
.home h1{
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1.2em;
}

.home h2{
    font-weight: 300;
    font-size: 1.2em;
}

@media (max-width: 430px) {


    .home{
        font-family: Roboto;
        font-size: 1.2em;
        margin-left: 1em;
        margin-right: 1em;
    }


    .home p{
        font-size: 1.1em;
        line-height: 1.5em;
    }
    .home h1{
        font-weight: 100;
        font-size: 3em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .home h2{
        font-weight: 300;
        font-size: 1.4em;
    }

}